* {
  box-sizing: border-box;
}

body {font-family: Arial, Helvetica, sans-serif;
      background-color: black;
}
h1{
  color:beige;
  font-size:xx-large ;
  text-align: center;
  text-shadow: 2px 2px hotpink ;
}
h2  {
  color : white;
  font-size :2em;
}
p {
  color:white;
  
}
p > em {
  color: #000;
}
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}
.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
  background-color: #000;
}
/*.active {
  background-color: red;
}*/
.card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0px;
    text-align: center;
    background-color: #f1f1f1;
    margin-bottom: 4em;
    border-radius: 1em;
    
}
/*.cards :hover {
  background-color: #000;
  color:#f1f1f1
}*/
.card-img-top{
  border-radius: 1em 1em 0 0 ;
}
.column {
    float:left;
    width: 25%;
    padding: 0 10px;
  }
.row:after {
    content: "";
    display: table;
    clear: both;
  }
.carousel-inner{
  height: fit-content;
 }
.img{
  width: fit-content ;
  height: max-content ;
 }
.item {
    height: inherit;
  }
@media screen and (max-width: 600px) {
  .navbar a {
    float: none;
    display: block;
  }
.column {
    width : 100%;
    display : block;
    margin-bottom : 20px;
  }
}
.row {margin: 0 -5px;
      dsiplay:flex;
    }

.card-img-top {
  width:100%;
  height:40em;
  object-fit: cover;
}      

.card{
  padding: 0 10px;;
  width:29rem

}
.card-wrapper{
  display: flex;
  justify-content:center;
}

/* Event Container */

.event-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.event-card {
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.event-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.event-card h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.event-card p {
  font-size: 14px;
  color: #777;
  margin-bottom: 0;
}




