

.date-and-time-child {
    top: 133px;
    background-color: #201f1f;
    height: 184px;
    position: absolute;
    left: 0;
    width: 1728px;
  }
  .rrr-rise-roar {
    position: absolute;
    top: 182px;
    left: 43px;
    font-size: 60px;
    display: inline-block;
    width: 950px;
    height: 87px;
  }
  .date-and-time-item {
    position: absolute;
    top: 315px;
    left: 0;
    background-color: var(--color-black);
    width: 1728px;
    height: 139px;
  }
  .date-cards-child ,
  .date-cards-inner,
  .date-cards-item ,
  .rectangle-div {
    position: absolute;
    top: 0;
    border-radius: var(--br-xs);
    background-color: var(--color-gray-100);
    border: 2px solid var(--color-red-100);
    box-sizing: border-box;
    width: 100px;
    height: 101px;
  }
  .date-cards-item {
    left: 123px;
  }
  .date-cards-inner {
    left: 251px;
  }
  .date-cards-inner,
  .date-cards1,
  .rectangle-div {
    position: absolute;
    height: 101px;
  }
  .rectangle-div {
    left: 379px;
  }
  
  .date-cards-child:hover {
    background-color: red;
    color: black;
  }
  .date-cards-inner:hover{
    background-color: red;
    color: black;
  }
  .date-cards-item :hover {
    background-color: red;
    color: black;
  }
  .rectangle-div:hover {
    background-color: red;
    color: black;
  }
  
  .date-cards1 {
    top: 286px;
    left: 47px;
    width: 479px;
  }
  .mon {
    top: 0;
    height: 21px;
  }
  .b,
  .may,
  .mon {
    position: absolute;
    left: 0;
    display: inline-block;
    width: 69px;
  }
  .b {
    top: 24px;
    height: 21px;
  }
  .may {
    top: 48px;
  }
  .date-card-current,
  .date-card-current1,
  .date-card-current2,
  .hindi-2d {
    position: absolute;
    top: 300px;
    left: 60px;
    width: 69px;
    height: 73px;
  }
  .date-card-current1,
  .date-card-current2,
  .hindi-2d {
    left: 185px;
  }
  .date-card-current2,
  .hindi-2d {
    left: 313px;
  }
  .hindi-2d {
    top: 21px;
    left: 632px;
    font-size: 30px;
    display: inline-block;
    width: 159px;
    height: 48px;
  }
  .date-card-current3,
  .date-cards {
    position: absolute;
    top: 300px;
    left: 441px;
    width: 791px;
    height: 73px;
  }
  .date-cards {
    height: 34.65%;
    width: 71.3%;
    top: 4.3%;
    right: 27.26%;
    bottom: 61.06%;
    left: 1.45%;
    text-align: center;
  }
  .date-and-time-inner {
    position: absolute;
    top: 494px;
    left: 45px;
    background-color: #f2f2f2;
    width: 1645px;
    height: 575px;
  }
  .times-1-child,
  .times-1-item {
    position: absolute;
    top: -0.5px;
    left: 0.5px;
    border-top: 1px solid var(--color-silver);
    box-sizing: border-box;
    width: 1644px;
    height: 1px;
  }
  .times-1-item {
    top: 136.5px;
    left: -0.5px;
  }
  .e-square-oasis-ac {
    position: absolute;
    top: 21px;
    left: 53px;
    display: inline-block;
    width: 310px;
    height: 43px;
  }
  .time-slots-child,
  .time-slots-inner,
  .time-slots-item {
    position: absolute;
    top: 0;
    border-radius: 6.68px;
    background-color: var(--color-gray-100);
    border: 1.1px solid var(--color-red-100);
    box-sizing: border-box;
    width: 142px;
    height: 47px;
  }
  .time-slots-child {
    left: 3px;
    cursor: pointer;
  }
  .time-slots-inner,
  .time-slots-item {
    left: 184px;
  }
  .time-slots-inner {
    left: 365px;
  }
  .am {
    position: absolute;
    top: 9px;
    left: 26px;
    display: inline-block;
    width: 95px;
    height: 23px;
  }
  .vector-icon2 {
    position: absolute;
    height: 76.92%;
    width: 28.57%;
    top: 23.08%;
    right: 71.43%;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .info1 {
    top: 0;
    left: 15px;
    display: inline-block;
    width: 55px;
    height: 26px;
  }
  .info,
  .info1,
  .pm,
  .pm1 {
    position: absolute;
  }
  .info {
    height: 26.8%;
    width: 13.81%;
    top: 73.2%;
    right: 86.19%;
    bottom: 0;
    left: 0;
    color: var(--color-dimgray);
  }
  .pm,
  .pm1 {
    top: 9px;
    left: 207px;
    display: inline-block;
    width: 95px;
    height: 23px;
  }
  .pm1 {
    left: 388px;
  }
  .time-slots {
    position: absolute;
    top: 17px;
    left: 442px;
    width: 507px;
    height: 97px;
    text-align: center;
    font-family: var(--font-poppins);
  }
  .times-1,
  .times-2-child {
    position: absolute;
    width: 1644px;
  }
  .times-1 {
    top: 537px;
    left: 44px;
    height: 137px;
    color: var(--color-black);
  }
  .times-2-child {
    top: 119.5px;
    left: -0.5px;
    border-top: 1px solid var(--color-silver);
    box-sizing: border-box;
    height: 1px;
  }
  .bhagwat-uma-mandir {
    position: absolute;
    top: 4px;
    left: 53px;
    display: inline-block;
    width: 310px;
    height: 43px;
  }
  .time-slots-child1 {
    position: absolute;
    top: 0;
    left: 3px;
    border-radius: 6.68px;
    background-color: var(--color-gray-100);
    border: 1.1px solid var(--color-red-100);
    box-sizing: border-box;
    width: 142px;
    height: 47px;
  }
  .info2 {
    position: absolute;
    height: 26.8%;
    width: 21.47%;
    top: 73.2%;
    right: 78.53%;
    bottom: 0;
    left: 0;
    color: var(--color-dimgray);
  }
  .time-slots1 {
    position: absolute;
    top: 0;
    left: 442px;
    width: 326px;
    height: 97px;
    text-align: center;
    font-family: var(--font-poppins);
  }
  .times-2 {
    position: absolute;
    top: 700px;
    left: 45px;
    width: 1643px;
    height: 120px;
    color: var(--color-black);
  }
  .time-slots-child3,
  .time-slots-child4 {
    position: absolute;
    top: 0;
    left: 2px;
    border-radius: 6.68px;
    background-color: var(--color-gray-100);
    border: 1.1px solid var(--color-red-100);
    box-sizing: border-box;
    width: 142px;
    height: 47px;
  }
  .time-slots-child4 {
    left: 183px;
  }
  .info4 {
    position: absolute;
    height: 26.8%;
    width: 21.54%;
    top: 73.2%;
    right: 78.46%;
    bottom: 0;
    left: 0;
    color: var(--color-dimgray);
  }
  .pm3,
  .pm4 {
    position: absolute;
    top: 9px;
    left: 30px;
    display: inline-block;
    width: 95px;
    height: 23px;
  }
  .pm4 {
    left: 211px;
  }
  .time-slots2 {
    position: absolute;
    top: 0;
    left: 442px;
    width: 325px;
    height: 97px;
    text-align: center;
    font-family: var(--font-poppins);
  }
  .times-3 {
    position: absolute;
    top: 847px;
    left: 45px;
    width: 1643px;
    height: 120px;
    color: var(--color-black);
  }
  .selectable-time:hover {
    background-color: red;
    color: black;
  }
  .extras-icon {
    position: absolute;
    object-fit:cover;
    top: 133px;
    left: 993px;
    width: 240px;
    height: 310px;
    border-color: aliceblue;
    border:5px solid #fff;
    padding:3px;
    margin:5px
  }
  .date-and-time {
    position: absolute;
    top: 5.5em;
    background-color: rgb(35, 35, 35);
    width: 100%;
    height: 1117px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-white);
    font-family: var(--font-plus-jakarta-sans);
  }